#page-landing {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(329.54deg, #1D3557 0%, #457B9D 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  display: flex;
  justify-content: center;
  align-items: center;

}

#page-landing .wrapper-logo{
    position: absolute;
    z-index: 10;
}

#page-landing .content-wrapper {
    position: relative;

    width: 100%;
    max-width: 1100px;

    height: 100%;
    max-height: 680px;
    
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

    background: url('../../images/landing.svg') no-repeat 80% center;
    transition: background 0.2s;
}

#page-landing .content-wrapper img {
    margin-top: 40px;
}

#page-landing .content-wrapper main {
    max-width: 350px;
}

#page-landing .content-wrapper main h1 {
    max-width: 350px
}

#page-landing .content-wrapper main h1 {
    font-size: 76px;
    font-weight: 900;
    line-height: 70px;
}

#page-landing .content-wrapper main p {
    margin-top: 40px;
    font-size: 24px;
    line-height: 34px;
}

.content-wrapper .location {
    position: absolute;
    right: 0;
    top: 0;

    font-size: 24px;
    line-height: 34px;

    display: flex;
    flex-direction: column;
    text-align: right
}

.content-wrapper .location strong{
    font-weight: 800;
}

.content-wrapper .enter-app {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 80px;
    height: 80px;
    background: #E48A91;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.2s;
}

.content-wrapper .enter-app:hover {
    background: #E7B7BB;
}